<!DOCTYPE html>
<html lang="en" style="font-size: 100%; --saturation-factor: 1;" class="full-motion disable-forced-colors theme-dark platform-web font-size-16" data-rh="lang,style,class">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/discord.css" />
    </head>
    <body style="background-color: #36393F;">
        <% const colorstyle = `style="color: #${color}"`%>
        <div class="ptmr groupStart-3Mlgv1 wrapper-30-Nkg cozy-VmLDNB zalgo-26OfGz" role="article" data-list-item-id="chat-messages___chat-messages-960588169378693171" tabindex="-1" aria-setsize="-1" aria-roledescription="Mensaje" aria-labelledby="message-username-960588169378693171 uid_1 message-content-960588169378693171 uid_2 message-timestamp-960588169378693171"><div class="contents-2MsGLg"><img src=<%=avatar%> aria-hidden="true" class="avatar-2e8lTP clickable-31pE3P" alt=" "><h2 class="header-2jRmjb" aria-labelledby="message-username-960588169378693171 message-timestamp-960588169378693171"><span id="message-username-960588169378693171" class="headerText-2z4IhQ"><span class="username-h_Y3Us desaturateUserColors-1O-G89 clickable-31pE3P" aria-controls="popout_1317" aria-expanded="false" role="button" tabindex="0" <%-colorstyle%>><%=username%></span><%-bot%></span><span class="timestamp-p1Df1m timestampInline-_lS3aK"><time aria-label="hoy a las 12:14" id="message-timestamp-960588169378693171" datetime="2022-04-04T17:14:26.445Z"><i class="separator-AebOhG" aria-hidden="true"> — </i>hoy a las 12:14</time></span></h2><div id="message-content-960588169378693171" class="markup-eYLPri messageContent-2t3eCI"><%-message%></div></div></div>
    </body>
</html>